@import '../../../../scss/variables/colors';

.buttonLogin {
  background-color: $cultured;
  border: 2px solid $pear;
  border-radius: 5px;
  box-sizing: border-box;
  color: $pear;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.buttonSingUp {
  background-color: $pear;
  border: 2px solid $pear;
  border-radius: 5px;
  box-sizing: border-box;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.dividingLine {
  background-color: $dark-gray;
  font-size: 16px;
  height: 2px;
  line-height: 24px;
  margin-top: 8px;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  margin: 0 24px;
  margin-bottom: 8px;
  padding-bottom: 16px;
  width: auto;
}

.input {
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 5px;
  color: $black;
  height: 32px;
  padding: 16px 10px;
  transition: 0.5s;
  width: 100%;

  &:focus {
    border: 1px solid $vivid-cerulean;
  }
}

.label {
  color: $black;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}