.column {
  display: flex;
  flex-direction: column;
}
.column.top {
  justify-content: flex-start;
}
.column.middle {
  justify-content: center;
}
.column.bottom {
  justify-content: flex-end;
}
.column.space-between {
  justify-content: space-between;
}
.column.space-around {
  justify-content: space-around;
}
.column.start {
  align-items: flex-start;
}
.column.center {
  align-items: center;
}
.column.end {
  align-items: flex-end;
}
.column.stretch {
  align-items: stretch;
}
.column .self-start {
  align-self: flex-start;
}
.column .self-center {
  align-self: center;
}
.column .self-end {
  align-self: flex-end;
}
.column .self-stretch {
  align-self: stretch;
}

.row {
  display: flex;
  flex-direction: row;
}
.row.top {
  align-items: flex-start;
}
.row.middle {
  align-items: center;
}
.row.bottom {
  align-items: flex-end;
}
.row.start {
  justify-content: flex-start;
}
.row.center {
  justify-content: center;
}
.row.end {
  justify-content: flex-end;
}
.row.space-between {
  justify-content: space-between;
}
.row.space-around {
  justify-content: space-around;
}
.row.wrap {
  flex-wrap: wrap;
}
.row.reverse {
  flex-direction: row-reverse;
}
.row .self-top {
  align-self: flex-start;
}
.row .self-middle {
  align-self: center;
}
.row .self-bottom {
  align-self: flex-end;
}
.row .self-stretch {
  align-self: stretch;
}

.item-1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.item-2 {
  flex: 2;
  min-width: 0;
  min-height: 0;
}

.item-3 {
  flex: 3;
  min-width: 0;
  min-height: 0;
}

.item-4 {
  flex: 4;
  min-width: 0;
  min-height: 0;
}

.item-5 {
  flex: 5;
  min-width: 0;
  min-height: 0;
}

.item-6 {
  flex: 6;
  min-width: 0;
  min-height: 0;
}

.item-7 {
  flex: 7;
  min-width: 0;
  min-height: 0;
}

.item-8 {
  flex: 8;
  min-width: 0;
  min-height: 0;
}

.item-9 {
  flex: 9;
  min-width: 0;
  min-height: 0;
}

.item-10 {
  flex: 10;
  min-width: 0;
  min-height: 0;
}

.item-11 {
  flex: 11;
  min-width: 0;
  min-height: 0;
}

.item-12 {
  flex: 12;
  min-width: 0;
  min-height: 0;
}

.item-13 {
  flex: 13;
  min-width: 0;
  min-height: 0;
}

.item-14 {
  flex: 14;
  min-width: 0;
  min-height: 0;
}

.item-15 {
  flex: 15;
  min-width: 0;
  min-height: 0;
}

.item-16 {
  flex: 16;
  min-width: 0;
  min-height: 0;
}

.item-1-no-basis {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.item-2-no-basis {
  flex: 2 1 0;
  min-width: 0;
  min-height: 0;
}

.item-3-no-basis {
  flex: 3 1 0;
  min-width: 0;
  min-height: 0;
}

.item-4-no-basis {
  flex: 4 1 0;
  min-width: 0;
  min-height: 0;
}

.item-5-no-basis {
  flex: 5 1 0;
  min-width: 0;
  min-height: 0;
}

.item-6-no-basis {
  flex: 6 1 0;
  min-width: 0;
  min-height: 0;
}

.item-7-no-basis {
  flex: 7 1 0;
  min-width: 0;
  min-height: 0;
}

.item-8-no-basis {
  flex: 8 1 0;
  min-width: 0;
  min-height: 0;
}

.item-9-no-basis {
  flex: 9 1 0;
  min-width: 0;
  min-height: 0;
}

.item-10-no-basis {
  flex: 10 1 0;
  min-width: 0;
  min-height: 0;
}

.item-11-no-basis {
  flex: 11 1 0;
  min-width: 0;
  min-height: 0;
}

.item-12-no-basis {
  flex: 12 1 0;
  min-width: 0;
  min-height: 0;
}

.item-13-no-basis {
  flex: 13 1 0;
  min-width: 0;
  min-height: 0;
}

.item-14-no-basis {
  flex: 14 1 0;
  min-width: 0;
  min-height: 0;
}

.item-15-no-basis {
  flex: 15 1 0;
  min-width: 0;
  min-height: 0;
}

.item-16-no-basis {
  flex: 16 1 0;
  min-width: 0;
  min-height: 0;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.grow-4 {
  flex-grow: 4;
}

.grow-5 {
  flex-grow: 5;
}

.grow-6 {
  flex-grow: 6;
}

.grow-7 {
  flex-grow: 7;
}

.grow-8 {
  flex-grow: 8;
}

.grow-9 {
  flex-grow: 9;
}

.grow-10 {
  flex-grow: 10;
}

.grow-11 {
  flex-grow: 11;
}

.grow-12 {
  flex-grow: 12;
}

.grow-13 {
  flex-grow: 13;
}

.grow-14 {
  flex-grow: 14;
}

.grow-15 {
  flex-grow: 15;
}

.grow-16 {
  flex-grow: 16;
}/*# sourceMappingURL=layout.css.map */